:root {
  --bs-primary: #ac8ffc;
  --bs-primary-rgb: 172, 143, 252;
}

.navbar .nav-link.active {
  color: var(--bs-primary) !important;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Inter';
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.card {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.footer-link  {
  transition: all 0.2s ease;  
}

.footer-link:hover {
  color: var(--bs-primary) !important;             
}

.form-control:focus {
  border-color: #e6e0f8;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.search-input {
  border-radius: 50px;
  margin: 40px auto;
  max-width: 50rem;
  transition: all 0.3s ease;
}

.search-input:focus {
  box-shadow: 0 4px 15px rgba(var(--bs-primary-rgb), 0.3);
}

.search-input:not(:focus) {
  box-shadow: 0 4px 10px rgba(var(--bs-primary-rgb), 0.1);
}

.upitnik-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.upitnik-card {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.upitnik-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.dodaj-button{
  box-shadow: 0 4px 10px rgba(var(--bs-primary-rgb), 0.3);
  transition: transform 180ms ease, box-shadow 180ms ease;
  will-change: transform;
}
.dodaj-button:hover{
  transform: scale(1.02);
  background: #f8f9fa;
  box-shadow: 0 8px 20px rgba(var(--bs-primary-rgb), 0.3);
}

.dodaj-button:active {
  background: #f8f9fa !important;
  box-shadow: 0 8px 20px rgba(var(--bs-primary-rgb), 0.3);
}

.form-check-input[type="radio"] {
  position: absolute;
  width: 1.15rem;
  height: 1.15rem;
  border-color: lightgray;   
  background-color: #fff;         
  border-radius: 50%;  
  box-shadow: none;
}

.form-check-input[type="radio"]:checked {
  background-color: #fff;         
  border-color: lightgray;      
  box-shadow: none;
}

.form-check-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8rem;                 
  height: 0.8rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--bs-primary);
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item:active  {
  background: lightgray !important;
}